---
const {curso} = Astro.props
---
 <div class="bg-white shadow-md rounded-md p-4 mb-4">
     <h2 class="text-xl font-semibold">{curso.nombre}</h2>
     <p class="text-gray-700">{curso.descripcion}</p>
     <p class="text-gray-700">Creditos: {curso.creditos}</p>
     <div class="mt-2">
         <a href={`/cursos/${curso.id}`}
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
             Ver detalles
         </a>
                <a href={`/cursos/editar/${curso.id}`} 
            class="bg-gray-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded ml-2">
            Editar
        </a>
        <form method="POST" action={`/api/curso/${curso.id}`} class="inline-block ml-2">
            <button 
                type="submit"
                class="bg-orange-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                onclick="return confirm('¿Estás seguro de eliminar este curso?');">
                Eliminar
            </button>
        </form>
     </div>

 </div>